body > img:nth-of-type(1) {
    display: none;
   
   }
   body {
    background-image: none;
    opacity: 1;
    max-width: 1206px;
    min-height: 1063px;
    font-size: 2rem;
   }
* {
    margin: 0;
    box-sizing: border-box;
}


ul{

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   font-weight: 600;
   font-size: 12px;
   list-style: none;
   padding-left: 5px;
   background-color:#0078e4;
   color:white;
   
  
}

li{
   padding: 15px 12px; 
    border-bottom: 1px solid white;
}

.container > * {
    
    border: 2px dashed BLUE;
   
  
}


.container{
    gap: 15px;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(270px, auto) minmax(72px, auto) minmax(325px, auto) ;
    grid-template-columns: minmax(20px, 210px) minmax(20px, 815px);
    grid-template-areas: 
        "one one"
        "seven two"
     
        "four three"
        "four eight" 
        "six eight"
        "six five"
         ;
}


img:nth-of-type(1){
    width: 18%;
    height: auto;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
    background-image: url('https://vesti.kg/images/343198274_946400516674992_1989666330577860722_n.jpg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
} 
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
    
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
