img:nth-of-type(1) {
    display: none;
}
body {
    background-image: none;
    opacity: 1;
    max-width: 1206px;
    min-height: 1063px;
    font-size: 2rem;
   }
* {
    margin: 0;
    box-sizing: border-box;
}


ul{

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   font-weight: 600;
   font-size: 15px;
   list-style: none;
   padding-left: 5px;
   background-color:#0078e4;
   color:white;
   
  
}

li{
    padding: 20px 12px;
    border-bottom: 1px solid white;
  
}
.container > * {
    
    border: 2px dashed BLUE;
   
    
}

.container{
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(370px, auto) minmax(72px, auto) minmax(325px, auto) ;
    grid-template-columns: minmax(20px, 161px) minmax(20px, 715px) minmax(20px, 325px) ;
    grid-template-areas: 
        "one one one"
        "seven seven seven"
        "two two two"
        "three three three"
        "four four eight" 
        "four four five"
        "six six five"
        
        
         ;
}

.box1 {
    grid-area: one;
    
}
 .box2 {
    grid-area: two;
} 

.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
