body > img:nth-of-type(1) {
    display: none;
   
   }
   body {
    background-image: none;
    opacity: 1;
    max-width: 1206px;
    min-height: 1063px;
    font-size: 2rem;
   }
* {
    margin: 0;
    box-sizing: border-box;
}


.box7 ul{

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   font-weight: 600;
   font-size: 12px;
   list-style: none;
   padding-left: 5px;
   color:white;
}

.box6 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Segoe UI';
    font-size: 12px;
    list-style: none;
    
    padding-left: 0;
}

.box6 li{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid gray;
    flex-basis: 240px;
}

.box6 h2{
 font-size: 14px;
 
}

time{
    color: #999;
    font: normal 10px Verdana, Geneva, sans-serif;
}


.box6 a img{
    max-width: 200px;
    height: 150px;
}

.box7 li{
    padding: 15px 12px; 
    border-bottom: 1px solid white;
    background-color:#0078e4;
   
}

.box4 ul{
    list-style-type: none;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
    gap: 20px;
    
    

}

.box4 li a{
    color: white;
    text-decoration: none;
    display: block;
  width: 200px; /* specify your desired width */
  height: 150px; /* specify your desired height */
  background-size: cover;
  background-position: center;
  display: flex;
    align-items: center;
    justify-content: center;
    
}

.box4 li{
    margin-bottom: 20px;
    background-repeat: no-repeat;
    
    
}

.content-8{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box-header{
    display: flex;
    background-color:#0079d6;
    width: 100%;
    
    justify-content: center;
   align-items: center;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px;
    
   
}

.box4 li:nth-child(1) {
    background-image: url('https://vesti.kg/media/k2/items/cache/ac1e0361c938e103a1ee56d27e4e3588_S.jpg');
}

.box4 li:nth-child(2){
    background-image: url('https://vesti.kg/media/k2/items/cache/6d2b03ae00907ca24592d2880175f271_S.jpg');
}

.box4 li:nth-child(3){
    background-image: url('https://vesti.kg/media/k2/items/cache/f4cdcfee49cfcdfe96a09eb105cf1848_S.jpg');
}

.box4 li:nth-child(4){
    background-image: url('https://vesti.kg/media/k2/items/cache/a17315564114fe5e4e5c36a00f34bd0f_S.jpg');
}

.box4 li:nth-child(5){
    background-image: url('https://vesti.kg/media/k2/items/cache/330174f1b50522cc745b0f37eae1283d_S.jpg');
}

.box4 li:nth-child(6){
    background-image: url('https://vesti.kg/media/k2/items/cache/8899f8a0542dd095b3baa95cba58b6a0_S.jpg');
}


.container > * {
    
    border: 2px dashed BLUE;
   
  
}



.container{
    gap: 15px;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(270px, auto) minmax(372px, auto) minmax(325px, auto) ;
    grid-template-columns: minmax(20px, 210px) minmax(20px, 815px);
    grid-template-areas: 
        "one one"
        "seven two"
        "three three"
        "eight four" 
        
        " five six"
         ;
}

@media (max-width:500px){
    .container{
        grid-template-columns: 100%;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
        
    }
}


.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
    background-image: url('https://vesti.kg/images/343198274_946400516674992_1989666330577860722_n.jpg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
    background-blend-mode: multiply;
    background-color: grey; 
} 
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
   
    
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
   
    
}


.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
    
}