* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/6yxkcg98k7w.png);
    background-repeat: no-repeat;
    max-width: 1206px;
    min-height: 1063px;
    font-size: 2rem;
    opacity: 0.5;
   
}
@media (max-width:500px){
    .container{
        grid-template-columns: 100%;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        ;
    }
}

.box7 ul{
   display: flex;
   flex-wrap: wrap;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   font-weight: 400;
   font-size: 16px;
   background-color: #e0e0e0;
   color: #000;
   list-style: none;
   padding: 15px 7px;
   gap: 15px;
}

.box4 ul{
   font-family: Tahoma;
   font-weight: 700;
   font-size: 13px;
   flex-wrap: wrap;
   color: #333;
   list-style: none;
   padding: 10px;
}

.box6 ul{
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
    font-size: 15px;
    list-style: none;
    padding: 5px ;
}

.content{
    padding-top: 15px;
}

h2{
    font-size: 15px;
    font-weight: 400;
    color: #00428c;
}

p{
    font-size: 12px;
    color: #2d2d2d;
}

time{
    color: #999;
    font: normal 10px Verdana, Geneva, sans-serif;
}
.box6 li{
    display: flex;
    line-height: 30px;
}

.box4 a div{
    position: absolute;
    bottom: 0px;
    background: black;
    height: 94px;
    width: 424px;
    color: white;
    padding: 1rem;
    margin-left: 10px;
}

.box6 li img{
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.box6 h2:hover{
    color: #71c5ec
}

.box4 li{
    border-bottom: 1px solid lightgray;
    padding: 15px 0px;
}
.container > * {
    
    border: 2px dashed BLUE;
    
}

.box4 li:hover{
    background-color: #0078e4;
    color: white;
}

.container{
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(370px, auto) minmax(72px, auto) minmax(325px, auto) ;
    grid-template-columns: minmax(20px, 161px) minmax(20px, 715px) minmax(20px, 325px) ;
    grid-template-areas: 
        "one seven seven"
        "two two two"
        "three three three"
        "four four eight" 
        "four four five"
        "six six five"
         ;
}

img:nth-of-type(1){
    width: 85%;
    height: auto;
    padding-top: 12px;
    padding-left: 10px;
}

.box1 {
    grid-area: one;
}
 .box2 {
    grid-area: two;
} 
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
    display: flex;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid lightgray;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
