* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/6yxkcg98k7w.png);
    background-repeat: no-repeat;
    max-width: 1206px;
    min-height: 1063px;
    font-size: 2rem;
    opacity: .5;
}

ul{

   display: flex;
   flex-wrap: wrap;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   font-weight: 600;
   font-size: 15px;
   background-color: #e0e0e0;
   list-style: none;
   padding: 15px 7px;
   gap: 15px;
   
  
}
.container > * {
    
    border: 2px dashed BLUE;
   
    
}

.container{
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(370px, auto) minmax(72px, auto) minmax(325px, auto) ;
    grid-template-columns: minmax(20px, 161px) minmax(20px, 715px) minmax(20px, 325px) ;
    grid-template-areas: 
        "one seven seven"
        "two two two"
        "three three three"
        "four four eight" 
        "four four five"
        "six six five"
        
        
         ;
}

.box1 {
    grid-area: one;
}
 .box2 {
    grid-area: two;
} 

.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
